<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body>
    <form class="center-div" id="SignUpDiv" method="POST" action="/users/edit">
      <h1
        style="
          margin-left: 125px;
          margin-top: -25px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        "
      >
        Profile
      </h1>

      <div style="display: inline-block">
        <label>First Name</label>
        <br />
        <input
          type="text"
          placeholder="First name"
          name="first_name"
          class="custom-search-bar custom-input"
          value="<%= user.first_name %>"
          id="fname"
          readonly
          disabled
        />
      </div>
      <div>
        <label>Last Name</label>
        <br />
        <input
          type="text"
          placeholder="Last name"
          name="last_name"
          class="custom-search-bar custom-input"
          value="<%= user.last_name %>"
          id="lname"
          readonly
          disabled
        />
      </div>
      <div>
        <label>Username</label>
        <br />
        <input
          type="text"
          placeholder="Username"
          name="username"
          class="custom-search-bar custom-input"
          value="<%= user.username %>"
          id="uname"
          readonly
          disabled
        />
      </div>
      <div>
        <label>Email</label>
        <br />
        <input
          type="email"
          placeholder="Email address"
          name="email"
          class="custom-search-bar custom-input"
          value="<%= user.email %>"
          id="email"
          readonly
          disabled
        />
      </div>
      <div>
        <label>Phone Number</label>
        <br />
        <input
          type="tel"
          placeholder="Phone"
          name="phone_number"
          class="custom-search-bar custom-input"
          value="<%= user.phone_number %>"
          id="pnumber"
          readonly
          disabled
        />
      </div>
      <div>
        <label>Password</label>
        <br />
        <input
          type="password"
          placeholder="Password"
          name="password"
          class="custom-search-bar custom-input"
          value=""
          id="password"
          readonly
          disabled
        />
      </div>

      <button class="custom-button" id="submit-info-btn" type="submit">
        Save profile
      </button>
    </form>

    <div class="user-stats">
      <h2>Posts created: <%= postsMade %></h2>

      <h2>Comments made:<%= commentsMade %></h2>
    </div>

    <button class="custom-button sign-up-btn" id="editBtn">
      Enable editing
    </button>
    <button class="custom-button log-in-btn" id="deleteBtn">
      Delete account
    </button>
    <a href="/index.html">
      <button class="custom-button btn-left">Home</button>
    </a>
    <div class="fullscreen-background"></div>
    <script src="/scripts/deleteProfile.js"></script>
    <script src="/scripts/editProfile.js"></script>
    <script src="/scripts/editUserForm.js"></script>
  </body>
</html>
